<!DOCTYPE html>
<html>
  <head>
    <title>Quora Q/A</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div class="logout">
        <%= link_to('Home', root_path) %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </div>
    <% end %>
    <% flash.each do |type, msg| %>
      <div class="flash">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
